# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# OS junk
.DS_Store
Thumbs.db

# PyInstaller
build/
dist/
*.spec
*.spec.bak

# Optional: Python cache in subfolders
**/__pycache__/
temp.txt